<div class="pure-g-r login-box">
    <h2 class="login-box-title pure-u-1">Login To YetAnotherChat</h2>
    <div class="login-box-content">
        <div class="pure-u-1 login-box-viafb">
            @*<span class="icon-facebook icon-large"></span>*@
            <a class="login-box-viafb-button" href="#">Login Via Facebook</a>
        </div>
        <div class="seperator">
            <span class="pure-u seperator-text">Or login using email</span>
            <div class="seperator-line">
            </div>
        </div>
        <div class="pure-g-r login-box-viaemail">
            <div class="pure-u-1">
                <input type="text" placeholder="Email" class="block text-box" name="name" value="" />
            </div>
            <div class="pure-u-1">
                <input type="text" placeholder="Password" class="block text-box" name="name" value="" />
            </div>
            <div class="pure-u-1">
                <input type="checkbox" class="" name="Remember" value="" />
                <label for="Remember" class="color-gray"">Remember me</label>
            </div>
            <div class="pure-u-1">
                <input type="button" class="login-button" name="name" value="login" />
            </div>
            <div class="pure-u-1 register-bar">
                <span class="color-gray">you dont have account ?</span>
                <a href="#" class="register-link">Register a new account</a>
            </div>
        </div>
    </div>
</div>
