@using System.Configuration
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section PageHeader{
    <h1>
        <img class="home-logo" src="~/Images/impulse_1x.png" alt="Alternate Text" />
        YetAnotherChat - Home Page
    </h1>
    <h2>Show demo pages and intro here!!</h2>
 
}



